#drawing{
  border: solid 1px black;
  width: 1000px; 
  height: 1000px
}
#eraseButton {
  background-color: pink;
}
#red {
  background-color: red;
}
#mahogany {
  background-color: #951A00;
  color:white;
}
#burntOrange {
  background-color: #D35400;
}
#orange {
  background-color: orange;
}
#olive {
  background-color: #957100;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
  color:white;
}
#lime {
  background-color: #00FF00;
  }
#turquoise {
  background-color: #40e0d0
}
#peach {
  background-color: #FFCBA4;
}
#blue {
  background-color: blue;
  color: white;
}
#violet {
  background-color: violet;
}
#purple {
  background-color: #6C3483;
  color: white;
}
#white {
  background-color: whitesmoke;
}
#black {
  background-color: black;
  color: white;
}
#gray {
  background-color: #808080;
  color: white;
}